
.dashboard__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
}

.dashboard__application-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard__account-actions {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
